.slideshow {
  position: relative;

  .slideshow-img {
    width: 100%;
    height: 255px;
    border-radius: 10px;
    object-fit: cover;
  }

  .icon-prev,
  .icon-next {
    position: absolute;
    z-index: 1000;
    top: 45%;
    font-size: 24px;
    color: $white;
    cursor: pointer;
  }

  .icon-prev {
    left: 2%;
  }

  .icon-next {
    right: 2%;
  }

  .slideshow-counter {
    display: none;
  }
}

//Tablet *
@media screen and (min-width: 768px) {
  .slideshow-counter {
    display: block;
    position: absolute;
    bottom: 15%;
    left: 50%;
    color: $white;
    font-weight: 500;
    font-size: 14px;
  }
}

//Desktop *
@media screen and (min-width: 1280px) {
  .slideshow-img {
    height: 415px;
    border-radius: 25px;
  }

  .slideshow-counter {
    font-size: 18px;
  }

  .icon-prev,
  .icon-next {
    font-size: 90px;
  }
}
